[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
openai-whisper = "*"
flask = "*"
pytest-flask = "*"
pymongo = "*"
pybase62 = "*"
pytest = "*"
torch = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
