[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
pylint = "*"
black = "*"
openai-whisper = "*"
flask = "*"
pytest-flask = "*"
pymongo = "*"
pybase62 = "*"
pytest = "*"
torch = {version="*", index="pytorch"}
requests = "*"
mongomock = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"
