@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');


body {
    background-color: #E5E4E2;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

input[type=text] {
    font-family: "Roboto", sans-serif;
    color: #71797E;
    border-color: #71797E;
    font-size: 22px;
    border-style: solid;
    margin-bottom: 15px;
}

input[type=submit] {
    font-family: "Roboto-Condensed", sans-serif;
    color: #71797E;
    border-color: #71797E;
    background-color: #E8998D;
    font-size: 22px;
    border-style: solid;
    font-style: bold;
}

h1 {
    font-family: "Roboto", sans-serif;
    color: #71797E;
    font-size: 36px;
    font-stretch: expanded; 
}